<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>


    </head>
    <body>
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
                <a href="#">Parent</a>
<!--                <div class="uk-navbar-dropdown">-->
<!--                    <ul class="uk-nav uk-navbar-dropdown-nav">-->
<!--                        <li class="uk-active"><a href="#">Active</a></li>-->
<!--                        <li><a href="#">Item</a></li>-->
<!--                        <li><a href="#">Item</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </li>
            <li><a href="#">Item</a></li>
        </ul>

    </div>
</nav>
<div class="uk-child-width-1-2 uk-text-center" uk-grid>

    <div>
        <div class="uk-child-width-1-5 uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <div class="uk-width-1-2@s uk-width-2-5@m">
                    <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
                </div>
            </div>

        </div>
    </div>
     <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>




    </body>
</html>

